<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/fontawesome-free/css/all.min.css" />
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <title><%= title %></title>
</head>

<body>